.word-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  background-color: #ccc; /* fallback color */
}

.word-ball.pic {
  background-color: #667eea;
  background-size: cover;
  background-position: center;
}
